@import url('../../../static/css/base.scss');

.header {
  padding: 2em 0;
  border-bottom: 1px solid #6f879a;
  width: 100%;
}
.header-fixed{
   position: fixed;
   width: 100%;
   top: -165px;
   z-index: 1;
}

.logo {
  float: left;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}